
/* 对 loading  整体布局*/
.loading-wrapper {
    min-width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.loading-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

/* loading 动画图像父级的布局 */
.loading-view {
    height: 40px;
    position: relative;
}

.container1,
.container2 {
    width: 40px;
    height: 40px;
    position: absolute;
    /* border: 1px solid #ff0000; */
    top: 0;
    left: 50%;
    margin-left: -20px;
    position: absolute;
}

.container2 {
    transform: rotate(45deg);
}

/* 第1种动画和第二种的相同部分，其中的 animation 也相同 */
.circle,
.bounce {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    /*设置小球动画*/animation: loading 1.6s both infinite;
}

.circle {
    position: absolute;
}

/* 设置小球的相对位置 */
.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    bottom: 0;
    right: 0;
}

.circle4 {
    bottom: 0;
    left: 0;
}

/* 设置延时 */
.container1 .circle1 {
    animation-delay: 0.2s;
}

.container2 .circle1 {
    animation-delay: 0.4s;
}

.container1 .circle2 {
    animation-delay: 0.6s;
}

.container2 .circle2 {
    animation-delay: 0.8s;
}

.container1 .circle3 {
    animation-delay: 1.0s;
}

.container2 .circle3 {
    animation-delay: 1.2s;
}

.container1 .circle4 {
    animation-delay: 1.4s;
}

.container2 .circle5 {
    animation-delay: 1.6s;
}

@keyframes loading {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }

    80% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}


/* 2. 第2种 loading 动画的实现：

第二种动画在小球的动画上是非常相似的，重复的部分可重复利用，其中的 animation 也相同 */

.bounce-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bounce {
    /* 设置小球形状的样式几乎和type=1一样，重复利用了 */
    display: inline-block;/* 设置小球的布局 */
}

/* 设置延迟 */
.bounce1 {
    animation-delay: -0.32s;
}

.bounce2 {
    animation-delay: -0.16s;
}

.bounce3 {
    animation-delay: 0s;
}


/* 3. 第3种 loading 动画的实现： */

.wave {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
}

.react{
    width: 3px;
    height: 40px;
    background-color: #fff;
    animation: waveLoading 1.2s both infinite;
}

/* 设置延时 */
.react1{
    animation-delay: 0s;
}
.react2{
    animation-delay: -1.1s;
}
.react3{
    animation-delay: -1.0s;
}
.react4{
    animation-delay: -0.9s;
}
.react5{
    animation-delay: -0.8s;
}

@keyframes waveLoading{
    0% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
}
    100% {
        transform: scaleY(0.4);
    }
}

/* 4.呼吸灯类型加载效果 */

@font-face {
    font-family: Neon;
    src: url('../fontfamily/neon.ttf');
}

/* .neon {
    font-family: Neon;
    font-size: 20px;
   text-shadow: 0 0 3px #F4BD0A;
   padding: 0 20px;
   line-height: 40px;
   animation: neon 3s ease-in-out infinite;
   -webkit-animation: neon 3s ease-in-out infinite;
}
  
  @keyframes neon {
    0%, 100% {
      text-shadow: 0 0 1px #FA1C16, 0 0 3px #FA1C16, 0 0 10px #FA1C16, 0 0 10px #FA1C16, 0 0 .4px #FED128, .5px .5px .1px #806914;
      color: #FFFC00;
    }
    50% {
      text-shadow: 0 0 .5px #800E0B, 0 0 1.5px #800E0B, 0 0 5px #800E0B, 0 0 5px #800E0B, 0 0 .2px #800E0B, .5px .5px .1px #40340A;
      color: #806914;
    }
  } */

  .neon {
    font-family: Neon;
    font-size: 20px;
    padding: 0 20px;
    line-height: 40px;
    text-shadow: 0 0 3px #179E05;
    animation: neon 0.5s ease-in-out infinite;
    -webkit-animation: neon 0.5s ease-in-out infinite;
}
  @keyframes neon {
    0%, 100% {
      text-shadow: 0 0 1px #10ff4c, 0 0 3px #1041FF, 0 0 10px #1041FF, 0 0 10px #1041FF, 0 0 .4px #8BFDFE, .5px .5px .1px #147280;
      color: #1f91ff;
    }
    50% {
      text-shadow: 0 0 .5px #024218, 0 0 1.5px #024713, 0 0 5px #023812, 0 0 5px #012707, 0 0 .2px #022201, .5px .5px .1px #011a06;
      color: #1f91ff;
    }
  }
  
